
.report {
    height: 200px;
    margin: 20px 10px;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 4px;
    background: aliceblue;
    display: flex;
}

.robot-position {
    margin: auto;
}